@model PagedList.IPagedList<Model.EF.Blog>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

<script type="text/javascript">

    $(function () {

        $("#txtfilter").keyup(function () {
            var data = $(this).val();
            var url = "/Home/SearchIndex"; //The Url to the Action  Method of the Controller
            var text = $("#txtfilter").val();
            var Data = { page: @ViewBag.PageNumber, pageSize: @ViewBag.PageSize, searchText:  text }; //The Object to Send Data Back to the Controller
            console.log("Data = " + Data.text);
            //Check whether the TextBox Contain the text if it contain the Text then make ajax call

            $.ajax({
                type: 'GET',
                url: '@Url.Action("SearchIndex", "Home")',
                data: Data,
                dataType: "html",
                success: function (evt) {
                    console.log("Xin chao cac ban");
                    $("#init_data").hide(); //Hide the Table
                    $('#content').html(evt);
                },
            });

        });

        // Radio button changed listener
        $('input[type="radio"]').on('click', function () {

            var otherType = $(this).val();
            var types = "";

            $('input[type="checkbox"]').each(function () {
                if ($(this).is(':checked')) {
                    types += $(this).val() + ",";
                }
            });
            types = types.substring(0, types.length - 1);

            console.log("Checkbox checked = " + types);
            var url = "/Home/TimKiem";

            var jsonData = { page: @ViewBag.PageNumber, pageSize: @ViewBag.PageSize, type: types , otherType: otherType }; //The Object to Send Data Back to the Controller
            $.ajax({
                type: 'GET',
                data: jsonData,
                url: url,
                dataType: "html",
                success: function (evt) {
                    console.log("Xin chao cac ban");
                    $("#init_data").hide(); //Hide the Table
                    $('#content').html(evt);
                },
            });
        });


        //Get value of selected items
        $('input[type="checkbox"]').on('click', function () {

            var otherType = -1;
            $('input[type="radio"]').each(function () {
                if ($(this).is(':checked')) {
                    otherType = $(this).val();
                }
            });

            var types = "";
            $('input[type="checkbox"]').each(function () {
                if ($(this).is(':checked')) {
                    types += $(this).val() + ",";
                }
            });
            if (types != "") {
                types = types.substring(0, types.length - 1);
            }

            console.log("Checkbox checked = " + types);
            var url = "/Home/TimKiem";

            var jsonData = { page: @ViewBag.PageNumber, pageSize: @ViewBag.PageSize, type: types , otherType: otherType }; //The Object to Send Data Back to the Controller
            $.ajax({
                type: 'GET',
                data: jsonData,
                url: url,
                dataType: "html",
                success: function (evt) {
                    console.log("Xin chao cac ban");
                    $("#init_data").hide(); //Hide the Table
                    $('#content').html(evt);
                },
            });

        });

    });
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Ajax.ActionLink("Export Excel", // <-- Text to display
                 "Export", // <-- Action Method Name
                 new AjaxOptions
                 {
                     HttpMethod = "POST" // <-- HTTP method
                 })
</p>

Enter the title to Filter:
<input type="text" id="txtfilter" />
<div>
    
    <p>@Html.RadioButton("OtherType", 1) Other Type 1</p>
    <p>@Html.RadioButton("OtherType", 2) Other Type 2</p>
    <p>@Html.RadioButton("OtherType", 3) Other Type 3</p>
</div>

<div>
    <p>@Html.CheckBox("1", new { @id = "checkbox1", @value = "1" }) Type 1</p>
    <p>@Html.CheckBox("2", new { @id = "checkbox2", @value = "2" }) Type 2</p>
    <p>@Html.CheckBox("3", new { @id = "checkbox2", @value = "3" }) Type 3</p>
</div>

<div id="content"></div>

<div id="init_data">
    <table class="table" id="tblData">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DatePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OtherType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.Raw(item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
    </div>
</div>